// css reset
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.okta-form-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.okta-form {
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  button {
    width: 100%;
  }
  h1 {
    margin-bottom: 2rem;
  }
}

.container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.notes-form {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  width: 60%;
}

.initials{
  width: 8%
}


// Guest Dashboard
.isReserved{
  display: none
}
.members{
  margin: 15%;
  padding-bottom: 25%;
}
.welcome-guest-dashboard{
  color: #472D5B;
}
.number-of-beds{
  color: #006FBA;
}
.reservation-button{
  margin-top: 3%;
}

.btn-container{
  max-width: 10%;
  padding-left: 45%;
}
.printName{
  width: 40%;
}

@import './case-notes-modal';
@import './notes-page';
@import './guest-notes';
@import './flag-guest';
@import './user-profile';
@import './guest-table';
@import './sidebar';
@import './navbar';
@import './analytics';
